<template id="color_box_template">
    <div class="color-box">
        <span class="text" data-app-translate="1" data-app-text="translate_text"></span>
        <button class="active" data-color="black" style="background-color: black;"></button>
        <button data-color="red" style="background-color: red;"></button>
        <button data-color="green" style="background-color: green;"></button>
        <button data-color="blue" style="background-color: blue;"></button>
        <button data-color="purple" style="background-color: purple;"></button>
        <button data-color="violet" style="background-color: violet;"></button>
        <button data-color="yellow" style="background-color: yellow;"></button>
        <button data-color="orange" style="background-color: orange;"></button>
        <input class="activex" type="color">
    </div>
</template>