div.gwindow {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5px auto 30px;
    position: absolute;
    left: 160px;
    top: 60px;
    background-color: transparent;
    border: 0;
}

div.close {
    display: block;
    background-color: transparent;
    border: 0;
}
div.buttons {
    display: block;
    background-color: transparent;
    border: 0;
}


/* pop-alert */
div.content {
    font-size: 1.375rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    background-color: transparent;
    border: 0;
    animation-name: boostsize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes boostsize {
    0%{
        font-size: 1.375rem;
    }
    25%{
        font-size: 1.5rem;
    }
    75%{
        font-size: 1.375rem;
    }
    100%{
        font-size: 1.375rem;
    }
}