div.gwindow {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto 60px;
  position: absolute;
  left: 60px;
  top: 60px;
  background-color: #366;
  border: 4px solid #208080;
  border-radius: 12px;
}

/* first row upper window controls */
div.close {
  display: grid;
  grid-template-columns: auto 40px;
  grid-template-rows: auto;
  border-radius: 12px;
}

div.close>button {
  padding: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.75rem;
  font-weight: 900;
  border: 0;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

div.close>span.title {
  padding: 0.5rem;
  font-size: 1.5rem;
}

/* middle row - content */
div.content {
  background-color: #466;
}

/* thrid row - bottom buttons */
div.buttons {
  background-color: #466;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  border-radius: 12px;
}

div.buttons>button {
  padding: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 900;
  border-radius: 8px;
}

/* color classes */
.bg-red {
  background-color: #b04080;
}

.bg-green {
  background-color: #80b040;
}

.bg-blue {
  background-color: #4080b0;
}

.bg-cyber-teal {
  background-color: #207780;
}

.bg-blend {
  background-color: transparent;
}